<article id="post" class="{{document.class}}" typeof="sioc:post" about="{{document.uri}} lang="ko-kr">
  <header>
    <h1 property="dcterms:title">{{document.title}}</h1>
  </header>
  <div property="sioc:content">{{content}}</div>
</article>
